<div id = "tabla">
  <table>
    <thead>
      <tr>
        <td class="celda">Nombre</td>
        <td class="celda">Descripción</td>
        <td class="celda">Precio</td>      
      </tr>
    </thead>
    <tbody>      
      <tr *ngFor="let producto of productos">
        <td>{{producto.nombre}}</td>
        <td>{{producto.descripcion}}</td>
        <td>{{producto.precio}}</td>
        <td><a href="#">EDITAR</a> / <a href="#">BORRAR</a></td>
      </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="none" colspan="4"><a href="#" class ="add">Añadir</a></td>          
          </tr>    
    </tfoot>
  </table>
</div>